.bookedContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:1rem;
     margin-top: 5rem;
}
.bookings{
    width: 40%;
    padding:  1rem;
    line-height: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}